body {
	min-width: 230px;
	text-align: center;
	background-color: #3D8EB9;
	font-family: Lucida Sans Unicode;
	margin-bottom: 30px;
}
#error {
	color: #B8312F;
  padding-bottom: 10px;
	height: 20px;
}
